html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
code,
blockquote {
  font-size: 16px;
  background: #f2f2f2;
  padding: 2px 4px;
  border-radius: 3px;
  line-height: 1.4;
  color: #000;
  font-family: consolas, menlo, monaco, monospace;
}
blockquote {
  display: block;
  margin: 0;
}
blockquote p {
  margin: 0;
  font-family: consolas, menlo, monaco, monospace;
}
pre code {
  display: block;
  padding: 0.5em;
  background: #f2f2f2;
}
.object-header {
  margin-top: 1.5em;
  color: #007fb2;
}
.object-header + p {
  margin-bottom: 2em;
}
.member-header {
  margin-top: 1.5em;
}
.btn.test,
.btn.src {
  float: right;
  font-size: 12px;
  margin-top: 55px;
  margin-left: 0.5em;
}
